<div id="carousel-example-generic" class="carousel slide col-md-12" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">

  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <div class="item active">
      <img class='carousel-image' src="img/bacon.png" alt="...">
      <div class="carousel-caption">
        Setting new standards for one man bands.
      </div>
    </div>

    {{#each item in items}}
      <div class='item'>
      <img class='carousel-image' {{bind-attr src='item.imageUrl'}} alt="...">
      <div class='carousel-caption'>
        {{item.name}}
      </div>
    </div>
    {{/each}}
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


{{#if isEditingLot}}
  <form>
    <div class="form-group">
      <label for="title">Your Lot</label>
      {{input value=title id="title" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="date-of-auction">Date of Auction</label>
      {{input type="date" value=dateOfAuction id="date-of-auction" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="location">Location of Auction</label>
      {{input value=location id="location" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      {{textarea rows="10" value=description id="description" class="form-control"}}
    </div>

    <button class="btn btn-xs btn-info" {{action 'save'}}>Save</button>
  </form>
{{else}}

<h1>{{title}}</h1>
<h6>Date of auction: {{dateOfAuction}}</h6>
<h6>Location: {{location}}</h6>
<h6>Description: {{description}}</h6>














{{#each item in items}}
    <div class="col-md-8 well">
      <img class='item-img col-md-2' {{bind-attr src="item.imageUrl"}}>
      <div class="col-md-10">
        <span class='item-name'>{{item.name}}</span>
        <br>
        <span class='item-backstory'>Backstory: {{item.backstory}}</span>
        <br>
        <span class='item-reserve'>Reserve: ${{item.reserve}}</span>
        <br>
        <span class='item-estimate'>Estimate: ${{item.estimate}}</span>
        <br>
        <span class='item-owner'>Sold by: {{item.owner}}</span>
        <hr>


      <button class="btn btn-xs btn-danger" {{action 'deleteItem' item}}>Delete</button>


    </div>
  </div>
{{/each}}

<div class='col-md-12'>
  {{outlet}}
  {{#if notCreatingItem}}
    <button this class='btn btn-xs btn-success' {{action "creatingItem"}}>
      Add Item
    </button>
  {{/if}}

  <div class="delete-lot">
    <hr>
    <button class="btn btn-xs btn-danger" {{action 'deleteLot'}}>Delete Lot</button>
    <button class="btn btn-xs btn-primary" {{action 'edit'}}>Edit Lot</button>
  </div>
</div>
{{/if}}
